*{
	box-sizing: border-box;
}
.q{
	float: left;
	width: 200px;
	height: 200px;
	margin-left: 10px;
	margin-top:10px;
	border-radius: 100px;
	background-color: #bf6060;
}
.w{
	float: left;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	margin-left: 160px;
	background-color: #70bcd4;
}
.e{
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: yellow;
}