*{
	box-sizing: border-box;
}
.q{
	padding:5px;
	margin-top:10px;
	margin-left: 10px;
	margin-bottom: 10px;
	border:5px;
	border-color: green;
	border-top-style: dotted;
	border-left-style:double;
	border-right-style: solid;
	border-bottom-style: dashed;
	width: 200px;
	height: 100px;
}
.w{
	padding:5px;
	margin-top:10px;
	margin-left: 10px;
	margin-bottom: 10px;
	border:5px;
	border-color: green;
	border-top-style: dotted;
	border-left-style:solid;
	border-right-style: solid;
	border-bottom-style: dashed;
	width: 200px;
	height: 100px;
}
.e{
	padding:5px;
	margin-top:10px;
	margin-left: 10px;
	margin-bottom: 10px;
	border:5px;
	border-color: green;
	border-top-style: dotted;
	border-left-style:solid;
	border-right-style: solid;
	border-bottom-style: dotted;
	width: 200px;
	height: 100px;
}
.r{
	padding:5px;
	margin-top:10px;
	margin-left: 10px;
	margin-bottom: 10px;
	border:5px;
	border-color: green;
	border-style: dotted;
	width: 200px;
	height: 60px;
}
